<h1>Choose Shipping</h1>
<% if @purchase.errors.any? %>
  <div id="error_messages">
    <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this order from being placed:</h2>
    <ul>
      <% @purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @purchase do |f| %>

  <!-- this is for the tabs at the top of the shipping box -->
  <div class='tabs'>
    <div id='cheapest-shipping'>Best Value</div>
    <div id='fastest-shipping'>Fastest</div>
    <div id='all-shipping'>All Shipping</div>
  </div>

  <!-- This is the box of all shipping options -->
  <div class='shipping-box' id='all-shipping-box'>
    <table class='shipping-table'>

      <% @estimate.each do |estimate| %>
        <tr>
          <td><%= f.radio_button :shipping, estimate_to_money(estimate["price"]), class: "shipping-radio" %></td>
          <% if estimate["delivery_date"].nil? %>
            <% estimate["delivery_date"] = 'unavailable' %>
          <% else %>
            <% estimate["delivery_date"] = estimate["delivery_date"].to_time.strftime("%B %d, %Y") %>
          <% end %>

          <td><b><%= label_tag "#{estimate["service"]} Shipping" %></b></td>
          <td>$<%=estimate_to_money(estimate["price"])%></td>
          <td>Expected delivery date: <%= estimate["delivery_date"] %>.</td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class='shipping-box' id='fastest-shipping-box'>
    <table class='shipping-table'>
      <% @fastest.each do |estimate| %>
        <tr>
          <td><%= f.radio_button :shipping, estimate_to_money(estimate["price"]), class: "shipping-radio" %></td>
          <% if estimate["delivery_date"].nil? %>
            <% estimate["delivery_date"] = 'unavailable' %>
          <% else %>
            <% estimate["delivery_date"] = estimate["delivery_date"].to_time.strftime("%B %d, %Y") %>
          <% end %>

          <td><b><%= label_tag "#{estimate["service"]} Shipping" %></b></td>
          <td>$<%=estimate_to_money(estimate["price"])%></td>
          <td>Expected delivery date: <%= estimate["delivery_date"] %>.</td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class='shipping-box' id='cheapest-shipping-box'>
    <table class='shipping-table'>
      <% @cheapest.each do |estimate| %>
        <tr>
          <td><%= f.radio_button :shipping, estimate_to_money(estimate["price"]), class: "shipping-radio" %></td>
          <% if estimate["delivery_date"].nil? %>
            <% estimate["delivery_date"] = 'unavailable' %>
          <% else %>
            <% estimate["delivery_date"] = estimate["delivery_date"].to_time.strftime("%B %d, %Y") %>
          <% end %>

          <td><b><%= label_tag "#{estimate["service"]} Shipping" %></b></td>
          <td>$<%=estimate_to_money(estimate["price"])%></td>
          <td>Expected delivery date: <%= estimate["delivery_date"] %>.</td>
        </tr>
      <% end %>
    </table>
  </div><br>

  <!-- the subtotal, shipping-cost, and total boxes all exist and are -->
  <!-- cut into pieces to facilitate js that adjusts the display according -->
  <!-- to which shipping option the user has selected, and to facilitiate -->
  <!-- a little css -->
  <div class='subtotal-box'>
    <h2>Subtotal: $</h2><h2 id='subtotal-digit'><%= money_format(@order.order_items.total) %></h2>
  </div>

  <div class='shipping-cost-box'>
    <h2>Shipping: $</h2><h2 id='shipping-digit'>0.00</h2>
  </div>  

  <div class='total-box'>
    <h2>Total: $</h2><h2 id='total-digit'><%=money_format(@order.order_items.total) %></h2>
  </div><br>

  <div class="field">
    <%= f.label "Credit Card Number" %>
    <%= f.text_field :cc_number %><br>
  </div>

  <div class="field">
    <%= f.label "CVV" %>
    <%= f.text_field :cvv %><br>
  </div>

  <div class="field">
    <%= f.label 'Expiration Date' %><br>
    <%= select_month nil, {add_month_numbers: true}, {name: 'purchase[expiration_month]'} %>
    <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: 'purchase[expiration_year]'} %>
  </div>

  <%= hidden_field_tag :order_id, value: params[:order_id] %>
  <%= f.hidden_field :zipcode, value: params[:zipcode] %>
  <%= f.hidden_field :name, value: params[:name] %>
  <%= f.hidden_field :address, value: params[:address] %>
  <%= f.hidden_field :email, value: params[:email] %>

  <div class="actions">
    <%= submit_tag("Onward, to glory!") %>
  </div>
<% end %>