<h1>Checkout</h1>

<h2>Subtotal: <%= number_to_currency(@order.order_items.total) %></h2>

<%= form_tag('/billing', method: 'get') do %>
  <% if @purchase.errors.any? %>
    <div id="error_messages">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this order from being placed:</h2>
      <ul>
        <% @purchase.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <div class="field">
      <%= label_tag :email, "Email Address" %><br>
      <%= text_field_tag :email %>
    </div>
  </p>
  <p>
    <div class="field">
      <%= label_tag :address, "Mailing Address" %><br>
      <%= text_field_tag :address %>
    </div>
  </p>
  <p>
    <div class="field">
      <%= label_tag :name %><br>
      <%= text_field_tag :name %>
    </div>
  </p>
  
  <p>
    <div class="field">
      <%= label_tag :zipcode, "Billing Zip Code" %><br>
      <%= text_field_tag :zipcode %>
    </div>
  </p>  
  <p>
    <div class="field">
      <%= hidden_field_tag :order_id, current_order.id %>
    </div>
  </p>
  <p>
  <div class="actions">
    <%= submit_tag("Onward, to glory!") %>
  </div>
  </p>
<% end %>
